<svg
  width="67.413mm"
  height="11.076mm"
  version="1.1"
  viewBox="1 1 66.428 10.218"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <clipPath id="clipPath16">
      <path d="m0 38h38v-38h-38z" />
    </clipPath>
  </defs>
  <g transform="translate(-49.754 -142.45)">
    <g transform="matrix(.33073 0 0 -.33073 50.093 154.62)" clip-path="url(#clipPath16)">
      <path
        d="m35.347 20.107-8.899 3.294-3.323 10.891c-0.128 0.42-0.516 0.708-0.956 0.708-0.439 0-0.828-0.288-0.956-0.708l-3.322-10.891-8.9-3.294c-0.393-0.146-0.653-0.52-0.653-0.938s0.26-0.793 0.653-0.937l8.896-3.293 3.323-11.223c0.126-0.425 0.516-0.716 0.959-0.716s0.833 0.291 0.959 0.716l3.324 11.223 8.896 3.293c0.392 0.144 0.652 0.519 0.652 0.937s-0.26 0.792-0.653 0.938"
        fill="#aa8ed6"
      />
      <path
        d="m15.347 9.1064-2.313 0.856-0.9 3.3c-0.119 0.436-0.514 0.738-0.965 0.738s-0.846-0.302-0.965-0.738l-0.9-3.3-2.313-0.856c-0.393-0.145-0.653-0.52-0.653-0.937 0-0.418 0.26-0.793 0.653-0.938l2.301-0.853 0.907-3.622c0.111-0.444 0.511-0.756 0.97-0.756 0.458 0 0.858 0.312 0.97 0.756l0.907 3.622 2.301 0.853c0.393 0.145 0.653 0.52 0.653 0.938 0 0.417-0.26 0.792-0.653 0.937"
        fill="#fcab40"
      />
      <path
        d="m11.009 30.769-2.365 0.875-0.875 2.365c-0.146 0.393-0.52 0.653-0.938 0.653-0.419 0-0.793-0.26-0.938-0.653l-0.876-2.365-2.364-0.875c-0.393-0.146-0.653-0.52-0.653-0.938s0.26-0.792 0.653-0.938l2.364-0.875 0.876-2.365c0.145-0.393 0.519-0.653 0.938-0.653 0.418 0 0.792 0.26 0.938 0.653l0.875 2.365 2.365 0.875c0.393 0.146 0.653 0.52 0.653 0.938s-0.26 0.792-0.653 0.938"
        fill="#5dadec"
      />
    </g>
    <path
      transform="matrix(.26458 0 0 .26458 49.755 142.04)"
      d="m232.26 6.3359-1.2266 0.14648-1.3457 9.5469c0.51555 0.16907 0.95869 0.29027 1.332 0.36133 0.37332 0.07106 0.75535 0.10547 1.1465 0.10547 0.86221 0 1.5748-0.23115 2.1348-0.69336 0.56887-0.4711 0.98049-1.0528 1.2383-1.7461 0.25779-0.70221 0.38672-1.4176 0.38672-2.1465 0-0.8711-0.19003-1.5473-0.57226-2.0273-0.38222-0.48889-0.90754-0.73242-1.5742-0.73242-0.37332 0-0.72384 0.07078-1.0527 0.21289-0.32889 0.14221-0.65265 0.35618-0.97265 0.64062l0.50586-3.668zm14.508 1.2402-0.96094 0.10742-0.43945 1.627h-1.2676l-0.13281 0.94531h1.2129l-0.58594 4.2012c-0.0176 0.09774-0.0273 0.23907-0.0273 0.42578 0 0.51555 0.14611 0.91672 0.43945 1.2012 0.29334 0.27555 0.71169 0.41211 1.2539 0.41211 0.5511 0 1.0716-0.15569 1.5605-0.4668l-0.40039-0.85156c-0.20445 0.09776-0.38687 0.17315-0.54687 0.22656-0.15111 0.04435-0.3068 0.06641-0.4668 0.06641-0.21342 0-0.37193-0.04872-0.47852-0.14648-0.0978-0.10666-0.14843-0.2719-0.14843-0.49414 0-0.05316 0.01-0.16781 0.0273-0.3457l0.58594-4.2266h1.5215l0.26563-0.94727h-1.6524l0.24024-1.7344zm-5.9316 1.5742c-0.80056 0.013993-1.465 0.24559-1.9902 0.69336-0.54216 0.45334-0.9366 1.0274-1.1855 1.7207-0.23988 0.68445-0.35938 1.3779-0.35938 2.0801 0 0.89776 0.23115 1.5988 0.69336 2.1055 0.47111 0.49776 1.133 0.74609 1.9863 0.74609 0.88889 0 1.7284-0.28267 2.5195-0.85156l-0.51953-0.82812c-0.32 0.22231-0.63138 0.38756-0.93359 0.49414-0.30222 0.10658-0.61838 0.16016-0.94727 0.16016-0.98663 0-1.4928-0.58362-1.5195-1.748 1.44-0.16 2.5594-0.43984 3.3594-0.83984s1.2012-1.0475 1.2012-1.9453c0-0.49776-0.19678-0.9209-0.58789-1.2676-0.38223-0.34666-0.92756-0.51953-1.6387-0.51953-0.0261 0-0.0523-4.514e-4 -0.0781 0zm11.465 0c-0.81777 0.0148-1.4985 0.25881-2.041 0.73242-0.56 0.48-0.97358 1.076-1.2402 1.7871-0.25779 0.7111-0.38672 1.4217-0.38672 2.1328 0 0.81779 0.19679 1.4721 0.58789 1.9609 0.39113 0.48889 0.94124 0.73242 1.6524 0.73242 0.4 0 0.77921-0.10229 1.1348-0.30664 0.35556-0.21332 0.67454-0.50079 0.95899-0.86523 0.0446 0.3644 0.1687 0.63946 0.37304 0.82617 0.20445 0.18671 0.49385 0.30136 0.86719 0.3457l0.34766-0.83984c-0.16907-0.06224-0.29028-0.14247-0.36133-0.24023-0.0622-0.09776-0.0937-0.22672-0.0937-0.38672 0-0.05342 0.01-0.15086 0.0273-0.29297l0.71875-4.9863c-0.41779-0.20445-0.82656-0.35536-1.2266-0.45312-0.3911-0.097764-0.80273-0.14648-1.2383-0.14648-0.0267 0-0.0537-4.774e-4 -0.0801 0zm-18.867 0.97266c0.81779 0 1.2266 0.56449 1.2266 1.6934 0 0.57779-0.0851 1.1518-0.25391 1.7207-0.16889 0.56887-0.43438 1.0435-0.79883 1.4258-0.35555 0.37332-0.80544 0.56055-1.3476 0.56055-0.24902 0-0.46299-0.01235-0.64063-0.03906-0.17776-0.03578-0.37737-0.09395-0.59961-0.17383l0.57422-4.1738c0.30224-0.3199 0.59448-0.5682 0.87891-0.74609 0.29334-0.17764 0.61428-0.26758 0.96093-0.26758zm7.4668 0c0.33771 0 0.58124 0.08994 0.73242 0.26758 0.15118 0.17771 0.22657 0.37252 0.22657 0.58594 0 0.56887-0.26074 0.98245-0.78516 1.2402-0.51558 0.25774-1.3255 0.44975-2.4277 0.57422 0.0978-0.74666 0.32892-1.379 0.69336-1.8945 0.36443-0.51555 0.885-0.77344 1.5606-0.77344zm11.506 0c0.23118 0 0.43079 0.01721 0.59961 0.05273 0.17774 0.03553 0.36017 0.0937 0.54687 0.17383l-0.54687 3.8809c-0.31111 0.41776-0.61293 0.73675-0.90625 0.95898-0.28445 0.22224-0.60821 0.33398-0.97266 0.33398-0.38231-1e-6 -0.67651-0.13851-0.88086-0.41406-0.20434-0.28442-0.30664-0.71518-0.30664-1.293 0-0.57776 0.0851-1.147 0.25391-1.707 0.17779-0.56889 0.44805-1.0388 0.8125-1.4121 0.37332-0.38221 0.84039-0.57422 1.4004-0.57422zm-188.53 4.373c-0.896 0-1.7717 0.20403-2.625 0.60938-0.85333 0.384-1.6102 0.99222-2.2715 1.8242l-0.25586-1.8887h-4.4473v24.096l5.0547-0.54297v-7.7773c1.0453 1.1733 2.4222 1.7598 4.1289 1.7598 1.3653 0 2.56-0.38434 3.584-1.1523 1.024-0.78934 1.8026-1.8651 2.3359-3.2305 0.55467-1.3867 0.83203-2.9557 0.83203-4.7051 0-2.8373-0.52302-5.0444-1.5684-6.623-1.0453-1.5787-2.6342-2.3691-4.7676-2.3691zm28.736 0c-1.7067 0-3.1906 0.37444-4.4492 1.1211-1.2373 0.74668-2.1962 1.8027-2.8789 3.168-0.66133 1.344-0.99219 2.923-0.99219 4.7363 0 2.8587 0.73503 5.0875 2.207 6.6875 1.4933 1.5787 3.532 2.3672 6.1133 2.3672 1.7067 0 3.1787-0.37246 4.416-1.1191 1.2587-0.74666 2.2176-1.7927 2.8789-3.1367 0.68266-1.3653 1.0254-2.9543 1.0254-4.7676 0-2.8587-0.73699-5.0776-2.209-6.6562-1.472-1.6-3.5087-2.4004-6.1113-2.4004zm21.279 0c-1.0453 0-1.9943 0.21397-2.8476 0.64062-0.832 0.42668-1.6106 1.0666-2.3359 1.9199l-0.35156-2.0156h-4.416v16.992h5.0547v-11.617c0.93866-1.472 1.9213-2.207 2.9453-2.207 0.53333 0 0.92759 0.17038 1.1836 0.51172 0.27733 0.32 0.41602 0.90642 0.41602 1.7598v11.553h5.0566v-12.416c0-1.6213-0.41605-2.8813-1.248-3.7773s-1.985-1.3438-3.457-1.3438zm15.873 0c-1.7067 0-3.1906 0.37444-4.4492 1.1211-1.2373 0.74668-2.1962 1.8027-2.8789 3.168-0.66133 1.344-0.99218 2.923-0.99218 4.7363 0 2.8587 0.73503 5.0875 2.207 6.6875 1.4933 1.5787 3.5319 2.3672 6.1133 2.3672 1.7067 0 3.1787-0.37246 4.416-1.1191 1.2587-0.74666 2.2176-1.7927 2.8789-3.1367 0.68267-1.3653 1.0234-2.9543 1.0234-4.7676 0-2.8587-0.73503-5.0776-2.207-6.6562-1.472-1.6-3.5087-2.4004-6.1113-2.4004zm39.584 0c-1.0453 0-1.9963 0.21397-2.8496 0.64062-0.832 0.42668-1.6106 1.0666-2.3359 1.9199l-0.35157-2.0156h-4.416v16.992h5.0566v-11.617c0.93867-1.472 1.9194-2.207 2.9434-2.207 0.53333 0 0.92759 0.17038 1.1836 0.51172 0.27734 0.32 0.41602 0.90642 0.41602 1.7598v11.553h5.0566v-12.416c0-1.6213-0.41605-2.8813-1.248-3.7773s-1.9831-1.3438-3.4551-1.3438zm14.496 0c-1.3867 0-2.615 0.23574-3.6816 0.70508-1.0453 0.448-1.8556 1.0662-2.4316 1.8555-0.55467 0.768-0.83204 1.6417-0.83204 2.623 0 1.3013 0.41605 2.391 1.248 3.2656 0.832 0.87466 2.0901 1.5562 3.7754 2.0469 1.0667 0.29858 1.8472 0.55416 2.3379 0.76758 0.49068 0.19208 0.81958 0.40604 0.99024 0.64062 0.17065 0.23466 0.25586 0.5556 0.25586 0.96094 0 0.512-0.22388 0.90625-0.67188 1.1836-0.42667 0.27732-1.023 0.41602-1.791 0.41602-1.5787 0-3.0824-0.55475-4.5117-1.6641l-2.4648 2.752c0.85333 0.78934 1.8875 1.4075 3.1035 1.8555 1.2373 0.448 2.5707 0.67188 4 0.67188 1.408 0 2.6898-0.22388 3.8418-0.67188s2.0574-1.0879 2.7188-1.9199c0.66133-0.85334 0.99218-1.8558 0.99218-3.0078 0-1.4507-0.43783-2.5819-1.3125-3.3926-0.85333-0.832-2.1649-1.5036-3.9355-2.0156-1.024-0.29858-1.7808-0.55416-2.2715-0.76758-0.49067-0.21332-0.82153-0.41542-0.99219-0.60742-0.14934-0.21334-0.22461-0.48078-0.22461-0.80078 0-0.40524 0.17039-0.71432 0.51172-0.92773 0.36267-0.23458 0.87578-0.35156 1.5371-0.35156 1.408 0 2.8047 0.43586 4.1914 1.3105l1.8555-2.8477c-0.81066-0.66132-1.7478-1.1725-2.8145-1.5352-1.0667-0.36266-2.2078-0.54492-3.4238-0.54492zm-101.25 0.06445c-0.98133 0-1.8669 0.34075-2.6562 1.0234-0.768 0.66132-1.3445 1.5786-1.7285 2.752l-0.41602-3.2949h-4.416v16.992h5.0566v-8.416c0.29867-1.3867 0.70284-2.4208 1.2148-3.1035 0.53333-0.704 1.302-1.0566 2.3047-1.0566 0.384 0 0.89516 0.07519 1.5352 0.22461l0.80078-4.8965c-0.512-0.14942-1.0766-0.22461-1.6953-0.22461zm125.28 0.22461c-1.5147 0-2.8262 0.37248-3.9356 1.1191-1.088 0.74668-1.932 1.7927-2.5293 3.1367-0.59734 1.344-0.89453 2.9111-0.89453 4.7031 0 2.7093 0.64983 4.8331 1.9512 6.3691 1.3227 1.536 3.1256 2.3027 5.4082 2.3027 1.8987 0 3.6163-0.61815 5.1523-1.8555l-1.3438-1.9199c-0.68268 0.4479-1.3028 0.77877-1.8574 0.99219-0.55466 0.192-1.1629 0.28711-1.8242 0.28711-1.3867 0-2.4525-0.50125-3.1992-1.5039-0.74666-1.024-1.1191-2.603-1.1191-4.7363s0.37248-3.7421 1.1191-4.8301c0.768-1.088 1.8339-1.6328 3.1992-1.6328 0.68266 0 1.3027 0.1069 1.8574 0.32031 0.576 0.192 1.1624 0.50105 1.7598 0.92774l1.4082-1.8555c-0.768-0.64-1.5684-1.0996-2.4004-1.377-0.832-0.29866-1.7493-0.44727-2.752-0.44727zm14.656 0c-1.5147 0-2.8262 0.37248-3.9356 1.1191-1.088 0.74668-1.932 1.7927-2.5293 3.1367-0.59731 1.344-0.89648 2.9111-0.89648 4.7031 0 2.7093 0.65181 4.8331 1.9531 6.3691 1.3227 1.536 3.1256 2.3027 5.4082 2.3027 1.8986 0 3.6163-0.61815 5.1523-1.8555l-1.3457-1.9199c-0.68266 0.4479-1.3008 0.77877-1.8555 0.99219-0.55469 0.192-1.1629 0.28711-1.8242 0.28711-1.3867 0-2.4526-0.50125-3.1992-1.5039-0.74666-1.024-1.1211-2.603-1.1211-4.7363s0.37443-3.7421 1.1211-4.8301c0.768-1.088 1.8339-1.6328 3.1992-1.6328 0.68266 0 1.3028 0.1069 1.8574 0.32031 0.576 0.192 1.1624 0.50105 1.7598 0.92774l1.4082-1.8555c-0.768-0.64-1.5684-1.0996-2.4004-1.377-0.832-0.29866-1.7493-0.44727-2.752-0.44727zm-81.6 0.25586v12.191c0 1.6853 0.39426 2.9969 1.1836 3.9355 0.81067 0.93868 1.9934 1.4082 3.5508 1.4082 2.1973 0 3.915-0.8955 5.1524-2.6875l0.22461 2.1445h4.3848v-16.992h-5.0566v11.809c-0.768 1.3227-1.6853 1.9824-2.752 1.9824-0.55467 0-0.97072-0.15852-1.248-0.47852-0.256-0.34134-0.38477-0.92777-0.38477-1.7598v-11.553h-5.0547zm-78.656 3.168c0.896 0 1.5676 0.39425 2.0156 1.1836 0.448 0.768 0.67188 2.1548 0.67188 4.1602 0 3.5413-1.0124 5.3125-3.0391 5.3125-1.0453 0-1.9111-0.50125-2.5938-1.5039v-7.168c0.384-0.64 0.82183-1.1313 1.3125-1.4727 0.512-0.34134 1.0568-0.51172 1.6328-0.51172zm30.336 0c1.0453 0 1.8121 0.42596 2.3027 1.2793 0.512 0.85334 0.76953 2.2085 0.76953 4.0645 0 1.8133-0.25753 3.1566-0.76953 4.0312-0.512 0.85332-1.2787 1.2812-2.3027 1.2812-1.0453 0-1.8239-0.42793-2.3359-1.2812-0.49067-0.85334-0.73633-2.2065-0.73633-4.0625 0-1.8133 0.25558-3.1467 0.76758-4 0.512-0.87468 1.2807-1.3125 2.3047-1.3125zm37.152 0c1.0453 0 1.8121 0.42596 2.3027 1.2793 0.512 0.85334 0.76758 2.2085 0.76758 4.0645 0 1.8133-0.25558 3.1566-0.76758 4.0312-0.512 0.85332-1.2787 1.2812-2.3027 1.2812-1.0453 0-1.8239-0.42793-2.3359-1.2812-0.49067-0.85334-0.73633-2.2065-0.73633-4.0625 0-1.8133 0.25558-3.1467 0.76758-4 0.512-0.87468 1.2807-1.3125 2.3047-1.3125zm65.318 9.7598c-0.59354 0.01292-1.0984 0.2273-1.5117 0.64062-0.42666 0.42666-0.63867 0.94968-0.63867 1.5684 0 0.61866 0.21201 1.1516 0.63867 1.5996 0.42666 0.42666 0.94967 0.63867 1.5684 0.63867 0.64 0 1.173-0.21201 1.5996-0.63867 0.42666-0.448 0.64062-0.98095 0.64062-1.5996 0-0.61868-0.21396-1.1417-0.64062-1.5684s-0.95961-0.64062-1.5996-0.64062c-0.0193 0-0.0375-4.17e-4 -0.0566 0z"
      fill="currentColor"
    />
  </g>
</svg>
